.home-sidebar{
    background-color: #212c32;
    position:relative;
    width: 235px;
    height: 90vh;
    text-align: center;
    
}

.home-sidebar a {
    color: white; 
    text-decoration: none; 
    margin: 20px;
    display: block;
    font-size: 20px;
}

.home-sidebar a:hover {
    text-decoration: none; 
    font-size: 1.32rem;
    
}