header {
    background-color: #2073aa;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

.header {
    margin:0;
}

.header h1{
    color: white;
}

.header h2{
    color: white;
}